{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "images": "./assets/images",
          "videos": "./assets/videos",
          "storybook": "./storybook"
        },
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ],
    "import-graphql"
  ],
  "presets": ["react-native"]
}
